<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="row title">
  <div class="container">
    <h1>Admin</h1>
  </div>
</div>
</body>
</html>

